module.exports = {
  apps: [
    {
      name: "backend",
      script: "./backend/index.js",
      env: {
        PORT: 3001,
        OFFLINE_TIMEOUT: 20000,
        CLEANUP_INTERVAL: 10000,
        CORS_ORIGIN_PROD: "",
        CORS_ORIGIN_DEV: "http://localhost:5173",
        JWT_SECRET: "",
        NODE_ENV: "production",
      },
    },
    {
      name: "frontend",
      script: "serve",
      env: {
        PM2_SERVE_PATH: "./app/dist",
        PM2_SERVE_PORT: 4173,
        PM2_SERVE_SPA: "true",
        NODE_ENV: "production",
        VITE_BACKEND_API_URL: "",
      },
    },
  ],
};
